<h1>Lesson#index</h1>
<p>Find me in app/views/lesson/index.html.erb</p>

<ul class="lesson-list">
<% @lessons.each do |lesson| %>
<li><%= lesson.name %> <%= link_to 'Show', lesson_path(lesson) %></li>
<% end %>
</ul>


<%= react_component("HelloWorld") %>
